/* Import SF Pro dari CDN buat jaga-jaga kalo juri bukanya di Windows */
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Ngeset font default ke SF Pro */
    --font-sans: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  }
  
  html, body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased; /* Biar fontnya mulus khas Apple */
    -moz-osx-font-smoothing: grayscale;
    background-color: #FAFAFA; /* Warna background abu-abu super soft khas iOS */
  }
}

@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';
